body{
    background: #d4a4da;
}
.container h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #d4a4da;
    background-image: url("Images/header.png");
}
.container h1{

}

.container h2{

}
.container h3{

}